@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Saira+Condensed:wght@600&display=swap');

body{
    background-color: beige;
}

h1{
    color:rgb(227, 175, 43);
    text-align: center;
    font-family: 'Rubik Glitch', cursive;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em rgb(41, 48, 98);
   
}

h1::first-letter{
    color: rgb(61, 73, 163);
}

.img_logo{
    position:fixed;
    padding-left: 70px;
}

.caixa{
    width: auto;
    height:500px;
    background-color: rgb(61, 73, 163);
    border-radius: 20px;
}

div img{
    padding-left: 350px;
}

div a{
    position:absolute;
    font-size:x-large;
    margin:110px;
    color: white;
    
}

.titulos{
    font-family:'Saira Condensed', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
